<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="PaymentProcessingEnviroment" value="SANDBOX"/>
      <add key="AuthorizeApiLoginId" value="5g45uGE7J7W"/>
      <add key="AuthorizeTransKey" value="6tTWG58J5n7x597p"/>
    </appSettings>
<connectionStrings>
   <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Players;Integrated Security=True"
       providerName="System.Data.SqlClient"/>
 </connectionStrings>
</configuration>