<!DOCTYPE html>

<html class="full-size">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_PresentationLayout</title>
</head>
<body class="full-size">
    <div class="presentation-background"> 
        @RenderBody()
    </div>
</body>
</html>
